
<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                        </div>

                        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                            <h3>Encontramo-nos de Norte a Sul</h3>
                            <p>
                                A WaterCompany está presente em todos os distritos de Portugal.
                                @*    Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla tenetur. Suscipit aut voluptate.*@
                            </p>

                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                                <h4 class="title"><a href="">Identidade Pessoal</a></h4>
                                <p class="description">Temos a nossa identidade no mercado.</p>
                            </div>

                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon"><i class="bx bx-gift"></i></div>
                                <h4 class="title"><a href="">Promoção</a></h4>
                                <p class="description">Os melhores preços no mercado.</p>
                            </div>

                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon"><i class="bx bx-atom"></i></div>
                                <h4 class="title"><a href="">Sustentabilidade</a></h4>
                                <p class="description">Preocupamo-nos com a sustentabilidade.</p>
                            </div>

                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->
        </div>
    </section>

</main><!-- End #main -->