<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Water Company - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/tema/assets/img/favicon.png" rel="icon">
    <link href="~/tema/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/tema/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/tema/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/tema/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/tema/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/tema/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/tema/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/tema/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bikin - v3.0.0
    * Template URL: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto" style="font-size: 15px"><a href="index.html"><i class="fas fa-tint"></i> WaterCompany</a></h1>
            @*<a href="index.html" class="logo me-auto"><img src="~/tema/assets/img/logo.png" alt="" class="img-fluid"></a>*@
            <!-- Uncomment below if you prefer to use an image logo -->


            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                    <li><a href="#about">Quem Somos</a></li>
                    <li><a href="#services">Serviços</a></li>
                    @*<li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#pricing">Pricing</a></li>*@

                    <li class="drop-down">
                        <a href="">Área do Administrador</a>
                        <ul>
                            <li class="drop-down">
                                <a href="#">Cliente</a>
                                <ul>
                                    <li><a href="#">Listar todos Clientes</a></li>
                                    <li><a href="#">Registar Cliente</a></li>
                                    <li><a href="#">Atualizar Dados do Cliente</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="#">Contador</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="Equipments" asp-action="Index">Listar todos Contadores</a></li>
                                    <li><a asp-area="" asp-controller="Equipments" asp-action="Create">Registar Contador</a></li>
                                </ul>
                            </li>
                            @*<li><a href="#">Drop Down 3</a></li>*@
                        </ul>
                    </li>

                    <li class="drop-down">
                        <a href="">Área do Cliente</a>
                        <ul>
                            <li class="drop-down">
                                <a href="#">Cliente</a>
                                <ul>
                                    <li><a href="#">Ver Dados</a></li>
                                    <li><a href="#">Registar Cliente</a></li>
                                    <li><a href="#">Atualizar Dados do Cliente</a></li>
                                </ul>
                            </li>
                            <li class="drop-down">
                                <a href="#">Contador</a>
                                <ul>
                                    <li><a asp-area="" asp-controller="Equipments" asp-action="Index">Listar todos Contadores</a></li>
                                    <li><a asp-area="" asp-controller="Equipments" asp-action="Create">Registar Contador</a></li>
                                </ul>
                            </li>
                            @*<li><a href="#">Drop Down 3</a></li>*@
                        </ul>
                    </li>


                    @*<li class="drop-down">
                            <a href="">Contador</a>
                            <ul>
                                <li><a asp-area="" asp-controller="Equipments" asp-action="Index">Listar Contadores</a></li>
                                <li><a asp-area="" asp-controller="Equipments" asp-action="Create">Registar Contador</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="">Consumidor</a>
                            <ul>
                                <li><a asp-area="" asp-controller="Equipments" asp-action="Index">Listar Consumidores</a></li>
                                <li><a asp-area="" asp-controller="Account" asp-action="Register">Registar Consumidor</a></li>
                            </ul>
                        </li>*@
                    @*<li class="drop-down">
                            <a href="">Drop Down</a>
                            <ul>
                                <li><a href="#">Drop Down 1</a></li>
                                <li class="drop-down">
                                    <a href="#">Deep Drop Down</a>
                                    <ul>
                                        <li><a href="#">Deep Drop Down 1</a></li>
                                        <li><a href="#">Deep Drop Down 2</a></li>
                                        <li><a href="#">Deep Drop Down 3</a></li>
                                        <li><a href="#">Deep Drop Down 4</a></li>
                                        <li><a href="#">Deep Drop Down 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Drop Down 2</a></li>
                                <li><a href="#">Drop Down 3</a></li>
                                <li><a href="#">Drop Down 4</a></li>
                            </ul>
                        </li>*@
                    @*<li><a href="#contact">Contact</a></li>*@

                    @if (this.User.Identity.IsAuthenticated)
                    {

                        <li class="drop-down">
                            <a class="get-started-btn scrollto">@this.User.Identity.Name</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {

                        <a class="get-started-btn scrollto" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    }

                </ul>


            </nav>
        </div>
    </header><!-- End Header -->




    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <img src="~/tema/assets/img/logo.png" width="250px" />
                        <p>
                            Rua do Jau, 1300-312 Lisboa,<br>
                            Portugal <br>
                            <strong>Telefone Geral:</strong> +351 000 000 000<br>
                            <strong>Telefone Assistência:</strong> +351 000 000 000<br>
                            <strong>Email:</strong> geral@watercompany.pt<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.6829585881687!2d-9.190358348903443!3d38.70212627950111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecd1cdf51dba5%3A0xaaa77b600a1271fe!2sCINEL%20-%20Centro%20de%20Forma%C3%A7%C3%A3o%20Profissional%20da%20Ind%C3%BAstria%20Electr%C3%B3nica%2C%20Energia%2C%20Telecomunica%C3%A7%C3%B5es%20e%20Tecnologias%20da%20Informa%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2spt!4v1610986753277!5m2!1spt-BR!2spt" width="450" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <ul>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Subscreva à nossa Newsletter</h4>
                        <p>Receba os nossos boletins informativos e promocionais no seu e-mail!</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscrever">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>WaterCompany</span></strong>. Todos os direitos registados
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bikin-free-simple-landing-page-template/ -->
                    Programação MVC by <strong>Williker Carmo - CET47</strong>
                    <br><strong><i>Web-Site realizado para fins académicos.</i></strong>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/tema/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/tema/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/tema/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/tema/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/tema/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/tema/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/tema/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/tema/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/tema/assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
