@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}



<main id="main">
    <br /><br />
    <section class="inner-page">
        <div class="container">
            <h1 class="text-danger">Oops...! Não encontramos o teu pedido</h1>
            @*<h2 class="text-danger">Ocorreu um erro ao processar o teu pedido.</h2>*@

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

        <h3>Ocorreu um erro ao processar o teu pedido.</h3>
            <p>
                Por favor, confirme se o número do teu pedido está correto.
            </p>
            <p>
                <button type="button" class="btn btn-danger" onclick="history.back(-1)">Voltar</button>
            </p>
        </div>
    </section>

</main><!-- End #main -->
