@model WaterCompanyCet47.Web.Models.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Editar Consumidor</h2></center>

            <div>
                <h4>Consumidor</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div class="form-group">
                                <b><label asp-for="FirstName" class="control-label"></label></b>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <b><label asp-for="LastName" class="control-label"></label></b>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <b><label asp-for="Email" class="control-label"></label></b>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <b><label asp-for="UserName" class="control-label"></label></b>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <br />
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-success">Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>

</main><!-- End #main -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
