@model WaterCompanyCet47.Web.Models.AddConsumptionViewModel

@{
    ViewData["Title"] = "AddConsumption";
}

<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Registo Consumo Mensal</h2></center>

            <h4>Dados da Leitura</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="AddConsumption">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="EquipmentId" class="control-label"></label>
                            <select asp-for="EquipmentId" asp-items="Model.Equipments" class="form-control"></select>
                            <span asp-validation-for="EquipmentId" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="ForPeriod" class="control-label"></label>
                            <input asp-for="ForPeriod" class="form-control" />
                            <span asp-validation-for="ForPeriod" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Consumption" class="control-label"></label>
                            <input asp-for="Consumption" class="form-control" />
                            <span asp-validation-for="Consumption" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Registar Leitura" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-success">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </section>

</main><!-- End #main -->
