@model WaterCompanyCet47.Web.Models.ModifyConsumptionViewModel
@{
    ViewData["Title"] = "Edit";
}

<main id="main">

    <section class="inner-page">
        <div class="container">
            <br /><br />
            <center><h2>Modificação Consumo Mensal</h2></center>

            <h4>Dados da Leitura</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ForBegin" class="control-label"></label>
                            <input asp-for="ForBegin" class="form-control" />
                            <span asp-validation-for="ForBegin" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="ForEnd" class="control-label"></label>
                            <input asp-for="ForEnd" class="form-control" />
                            <span asp-validation-for="ForEnd" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="ConsumptionValue" class="control-label"></label>
                            <input asp-for="ConsumptionValue" class="form-control" />
                            <span asp-validation-for="ConsumptionValue" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Registar Leitura" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-success">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </section>

</main><!-- End #main -->

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                }
    </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

